<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<title>始めて -「茶粥」</title>

	<link rel="stylesheet" href="{{ baseurl }}static/css/reset.css">
	<link rel="stylesheet" href="{{ baseurl }}static/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ baseurl }}static/css/room.css">

</head>

<body>
	<div id="wrap">
	
		<div id="main">
			<div id="logform">
				{{ words }}
				<a href="https://graph.renren.com/oauth/authorize?client_id={{ post_parems.client_appid }}&response_type=code&scope={{ post_parems.client_scope }}&state=a%3d1%26b%3d2&redirect_uri={{ post_parems.redirect_uri }}&x_renew=true"><img src="{{ baseurl }}static/img/renren/Renren_logo_32.png" class="vm" alt="renren" /></a>
			</div>
		<div>

	</div>
</body>
</html>
