<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<title>市集 -「茶粥」</title>

	<link rel="stylesheet" href="<?php echo BASEPATH; ?>/css/reset.css">
	<link rel="stylesheet" href="<?php echo BASEPATH; ?>/css/square.css">
	<script src="<?php echo BASEPATH; ?>/js/lib/sea.js" data-main="<?php echo BASEPATH; ?>/js/squareinit"></script>	
	
</head>

<body>
	<div id="wrap">
	
		<div id="main">
			<div id="selfjoin" class="section"></div>
			<div id="selfbuilt" class="section"></div>
			<div id="anonymous" class="section"></div>
		</div>

		<div id="foot">
		</div>

	</div>
</body>
</html>
