<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<title>市集 -「茶粥」</title>

	<link rel="shortcut icon" href="{{ baseurl }}static/img/favicon.ico">
	<link rel="stylesheet" href="{{ baseurl }}static/css/reset.css">
	<link rel="stylesheet" href="{{ baseurl }}static/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ baseurl }}static/css/common.css">
	<link rel="stylesheet" href="{{ baseurl }}static/css/square.css">
	<script src="{{ baseurl }}static/js/lib/sea.js" data-main="{{ baseurl }}static/js/squareinit"></script>	
	
</head>

<body>
	<div id="wrap">

		<div id="top">
			<div id="logo">
				<h1>茶粥</h1>
			</div>

			<div id="profile">
				<div id="userId" style="display: none;">{{ user.userId }}</div>
				<div id="pic"><img src="{{ user.picurl }}"></div>
				<div id="username">
					<a href="{{ baseurl }}square/logout">离席</a>
					<p>欢迎，{{ user.username }}</p>
				</div>
			</div>
		</div>

		<div id="content">
			<div id="square">
				<h2><img src="{{ baseurl }}static/img/pattern4.png">市集</h2>
			</div>
				
			<div class="lslip"></div>

			<div id="latest-join" class="section">
				{% for item in latestjoin %}
				<a href="javascript:void(0);" name="{{ item.roomid }}" class="blocka" title="加入">
					<div name="{{ item.roomname }}" class="ljroomsection roomsection">
						<div class="rs-above">
							<form name="join" method="post" action="{{ baseurl }}shitsu/join" style="display: none;">
								<input name="roomid" value="{{ item.roomid }}">
							</form>

							<div class="info">
								{{ item.roomname }}
							</div>
						</div>
					</div>
				</a>
				{% endfor %}
				
				<div class="title">
					<h3>最近进入过的茶室</h3>
				</div>
			</div>

			<div class="slip"></div>

			<div id="global-create" class="section">
				{% for item in globalbuilt %}
				<a href="javascript:void(0);" name="{{ item.roomid }}" class="blocka" title="加入">
					<div name="{{ item.roomname }}" class="glroomsection roomsection">
						<div class="rs-above">
							<form name="join" method="post" action="{{ baseurl }}shitsu/join" style="display: none;">
								<input name="roomid" value="{{ item.roomid }}">
							</form>

							<div class="info">
								{{ item.roomname }}
							</div>
						</div>
					</div>
				</a>
				{% endfor %}
				
				<div class="title">
					<h3>其他友人创建的茶室</h3>
				</div>
			</div>

			<div class="slip"></div>

			<div id="self-built" class="section">
				<div id="self-built-inner">
				{% for item in selfbuilt %}
				<div id="room{{ item.roomid }}" class="relative">
					<a href="javascript:void(0);" name="{{ roomid }}" class="blocka" title="加入">
						<div name="{{ item.roomname }}" class="sbroomsection roomsection">
							<div class="rs-above">
								<form name="join" method="post" action="{{ baseurl }}shitsu/join" style="display: none;">
									<input class="forminput" name="roomid" value="{{ item.roomid }}">
								</form>	
									
								<div class="info">
									{{ item.roomname }}
								</div>
	
							</div>
						</div>
					</a>
								
					<div class="rs-low" style="display: none;">
						<div class="rsl-l"><p>修改</p><p class="rid" style="display: none;">{{ item.roomid }}</p></div>
						<div class="rsl-r"><p>注销</p><p class="rid" style="display: none;">{{ item.roomid }}</p></div>
					</div>

				</div>
				{% endfor %}
				</div>

				<div class="title">
					<h3>自己搭建起来的茶室</h3>
				</div>

				<a href="javascript:void(0);" id="msectionbtn" class="blocka" title="创建">
					<div id="create" class="msection">
						<p>+</p>
					</div>
				</a>
				<div class="textinput createinput" style="display: none;">
					<h3>  创建茶室<span>取消</span></h3><br><br>
					<input id="createroom" name="createroom" type="text"><br>
					<button id="createbtn" class="btn" value="创建">创建</button>
				</div>
				<div class="textinput modifyinput" style="display: none;">
					<h3>  修改名称<span>取消</span></h3><br><br>
					<input id="modifyroom" name="modifyroom" type="text"><br>
					<button id="modifybtn" class="btn" value="修改">修改</button>
					<p style="display: none;"></p>
				</div>
				<div class="textinput destroyinput" style="display: none;">
					<h3>  注销茶室<span>取消</span></h3><br><br>
					<button id="destroybtn" class="btn" value="注销">注销</button>
					<p style="display: none;"></p>
				</div>
				
			</div>

			<div class="slip"></div>

			<div id="anonymous" class="section">

			</div>
		</div>

		<div id="foot">
		</div>

	</div>
</body>
</html>
