#wrap {

}

#content {
	min-width: 480px;
	min-height:500px;
}

#top {
	height: 120px;
	width: 920px;
	min-width: 480px;
	margin: 0 auto;
}

#logo {
	height: 40px;
	width: 280px;
	padding: 75px 0 5px 110px;
	background:url(../img/mlogo6.png) no-repeat 10% bottom;
	float: left;
}

#profile {
	height: 50px;
	width: 200px;
	padding: 65px 0 5px 10px;
	float: right;
}

#pic {
	height: 50px;
	width: 50px;
	border-radius: 4px;
	box-shadow: rgba(0,0,0,0.35) 0px 0px 4px 0px;
	float: left;
}

#username {
	padding: 12px 0 0 10px;
	float: left;
}

#square {
	height: 40px;
	width: 50%;
	margin: 10px 0 0 50px;
}

#square img {
	vertical-align: -5px;
}

.section {
	min-height: 0px;
	width: 90%;
	margin: 30px 50px 0 50px;
}

.msection {
	height: 80px;
	width: 80px;
	float: left;
	margin: 40px 10px;
	border: 3px dashed #ADADAD;
	border-radius: 4px;
}

.msection:hover {
	border: 3px solid #005580;
}

.roomsection {
	height: 150px;
	width: 150px;
	margin:0 20px 20px 0;
	float: left;
	border-radius: 4px;
	background: url(../img/logo2.png) no-repeat center 30%;
}

.roomsection:hover {
	box-shadow: rgba(0,0,0,0.65) 0px 0px 2px 0px;
}

.ljroomsection {

}

.sbroomsection {
}

#self-built-inner {
	max-width: 700px;
	min-height: 0px;
}

.info {
	margin: 60px 30px;
	text-align: center;
	font-size: 14px;
	color: #000;
	text-shadow: #DDD 0px 1px 1px;	
}

.info p {
	height: 150px;
}

.section a:hover {
	text-decoration: none;
}

.title {
	width: 70px;
	height: 100%;
	float: right;
	margin: auto 20px;
	padding: 45px 0;
	vertical-align: middle;
}

.rs-above {
}

.rs-low {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 30px;
	width: 150px;
	z-index: 100;
	background-color: #FFF;
}

.rs-low p {
	width: 73px;
	height: 30px;
	float: left;
	text-align: center;
	line-height:2.5;
	border: 1px solid #E5D7A4;
	border-radius: 0 0 4px 4px;
	cursor: pointer;
}

.rs-low p:hover {
	color: white;
	background-color: #E5D7A3;
}

.relative {
	height: 150px;
	width: 150px;
	margin:0 20px 20px 0;
	float: left;
	position: relative;
	z-index: 0;
}

#create p{
	width: 100%;
	margin: 30px 0;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

.textinput {
	height: 130px;
	width: 240px;
	padding: 30px 20px 30px 20px;
	background-color: white;
	border-radius: 4px;
	box-shadow: rgba(0,0,0,0.80) 0px 0px 3px 0px;
	text-align: center;
	position: fixed;
	z-index: 100;
	left: 40%;
	top: 35%;
}

.textinput span {
	margin-left: -24px;
	font-weight: normal;
	font-size: 10px;
	float: right;
	cursor: pointer;
}

.textinput span:hover {
	color: #005580;
}

.textinput input {
	width: 90%;
}

.textinput .btn {
	width: 60px;
	margin: 0 30px;
}

.slip {
	width:800px;
	margin: 5px 50px;
	box-shadow: rgba(0,0,0,1) 0px 0px 1px 0px;
	clear: both;
}

.lslip {
	height: 1px;
	width: 300px;
	margin: 5px 50px;
	box-shadow: rgba(0,0,0,0.95) 0px 0px 1px 0px;
}

.blocka {
	display: block;
}
